html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:
        top;
    font-family: 'Bungee', cursive;
}
h1{
    text-align: center;
    color: white;
    margin-top: 100px;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.btn{
    border-radius: 100px;
    margin-top: 22%;
    background-color: rgba(170, 57, 57, 0.9);
    border-color: rgba(170, 57, 57, 0.9);
    font-family: 'Bungee';
    color: white;
}
.btn:hover{
    background-color: rgba(85, 0, 0, 0.5);
    border-color: rgba(85, 0, 0, 0.5);
}