/* Mobile First  */

/* Color Variables  */
:root {
  --dark: #787878;
  --light: #a2a2a2;
  --bold: #ffe;
  --cap: hsl(0, 4%, 16%);
  --punch: hsl(120, 100%, 45%);
  --line: hsl(120, 30%, 75%);
  --shadow: hsl(195, 10%, 30%);
}

.mobile-break {
  display: block;
}
.punch {
  font-size: calc(1em + 3px);
  color: var(--punch);
}

/* Standards  */

body {
  letter-spacing: 2px;
  line-height: 1.3em;
  font-family: 'Raleway', sans-serif;
}
h2,
h3,
p {
  margin-bottom: 1em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  color: var(--dark);
  margin-bottom: 1em;
}
h3 {
  font-size: 1.3em;
  color: var(--dark);
}
.em-bright {
  color: var(--bold);
}
p {
  color: var(--light);
}

/* HEADER  */

#main-header {
  position: relative;
  background: url('/src/img/background/layer2.svg') center/cover;
  padding: 4.5em 1.5em;
  height: 100%;
}
/* #main-header-container::before {
  content:'';
  position: absolute;
  width: 2em;
  height: .3em;
  background: var(--light);
  top: 0;
  right: 0;
  border-radius: 25px;
  transform: translateY(-.5em);
} */

nav {
  position: absolute;
  margin: 0;
  padding: 0;
  overscroll-behavior-x: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  /* background: hsla(200, 40%, 20%, .9); */
  /* transition: all 700ms ease; */
}
#nav-overlay {
  position: absolute;
  margin: 0;
  padding: 0;
  overscroll-behavior-x: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: hsla(200, 40%, 20%, .9);
  transition: all 700ms ease;
  visibility: hidden;
}
#nav-overlay ul {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  place-items: center;
  justify-content: space-around;
}

#nav-overlay ul li a{
  text-decoration: none;
  background: var(--bold);
  border: none;
  border-radius: 25px;
  padding: 1em 3em;
  color: var(--dark);
}
.mobile-target {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0;
  right: 1em;
  z-index: 5;
}

#mobile-menu{
  position: absolute;
  width: 2em;
  height: .3em;
  background: var(--bold);
  top: 1em;
  right: 0;
  border-radius: 25px;
  visibility: visible;
}
#mobile-menu::before {
  content:'';
  position: absolute;
  width: 2em;
  height: .3em;
  background: var(--light);
  top: 0;
  right: 0;
  border-radius: 25px;
  transform: translateY(-.5em);
}
#mobile-menu::after{
  content:'';
  position: absolute;
  width: 2em;
  height: .3em;
  background: var(--light);
  top: 0;
  right: 0;
  border-radius: 25px;
  transform: translateY(.5em);
}
#mobile-menu-inner {
  position: absolute;
  width: 2em;
  height: .3em;
  background: transparent;
  top: 1em;
  right: 1em;
  border-radius: 25px;
  z-index: -10;
}
#mobile-menu-inner::before {
  content:'';
  position: absolute;
  width: 2em;
  height: .3em;
  background: var(--light);
  top: 0;
  right: 0;
  border-radius: 25px;
  transform-origin: center left;
  transform: translateY(-.5em) rotate(30deg);
  /* visibility: hidden; */
  z-index: -10;
}
#mobile-menu-inner::after {
  content:'';
  position: absolute;
  width: 2em;
  height: .3em;
  background: var(--light);
  top: 0;
  right: 0;
  border-radius: 25px;
  transform-origin: center left;
  transform: translateY(.5em) rotate(-30deg);
  /* visibility: hidden; */
  z-index: -10;
}

#mobile-target:hover, #mobile-menu-inner:hover {
  cursor: pointer;
}

#mobile-ul {
  opacity: 1;
  transition: all 700ms ease;
}

.hide {
  opacity: 0;
  transition: all 1s ease;
}
.show {
  opacity: 1;
  transition: all 1s ease;
}
#avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.74);
  padding: 1em;
  height: 100%;
}
#avatar img {
  border-radius: 50%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  box-shadow: 0 2px 10px 3px var(--shadow);
  margin: 0 0 1em 0;
}
main {
  width: 100%;
  margin: 0;
}
/* Section Styles  */

section {
  padding: 1.5em;
  margin-bottom: 1em;
}
/* Table  */
table {
  margin-bottom: 1em;
}
td {
  padding: .5em;
}
.line {
  color: var(--dark);
}
.comparison {
  color: hsl(200, 70%, 70%);
}
/* Skill List  */
.skill-tree {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.skill-tree li {
  background: hsl(120, 100%, 45%);
  border-radius: 15px;
  padding: .4em;
  color: hsl(0, 100%, 10%);
}
.skill-tree li:hover {
  background: hsl(120, 100%, 25%);
  color: hsla(0, 0%, 100%, 0.74);

}

#project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ARTICLES  */

article {
  max-width: 100%;
  margin-bottom: 1em;
}
article  img {
  max-width: 100%;
  border: 1px solid var(--dark);
  border-radius: 12px;
}

/* Clip Path Mail Icon */

#email-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
#email-icon {
  position: relative;
  background: #fff;
  width: 1.5em;
  height: 1em;
  border-radius: 15%;
}
#email-icon::before {
  content: "";
  position: absolute;
  background-color: var(--light);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(4% 4%, 96% 4%, 50% 50%);
}
#email-icon::after {
  content: " ";
  position: absolute;
  background-color: var(--dark);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: polygon(4% 8%, 50% 54%, 96% 8%, 96% 96%, 4% 96%);
  border-radius: 15%;
}

/* FOOTER  */

footer {
  background: var(--cap);
  color: #fff;
  padding: 1em;
  
}
#mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#desktop {
  display: none;
}
/* iphone se  */
@media screen and (max-width: 321px) {
  #avatar img {
    width: 240px;
    height: 240px;
  }
}
/* TABLET SIZE  */
@media only screen and (min-width: 768px) {
  #project-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(auto, minmax(0, 1fr));
    gap: 2em;
  }
  #avatar img {
    width: 30vw;
    /* height: 30%; */
  }
  figure img {
    transform: scale(1);
    border-radius: 12px;
    transition: transform 1s ease,
    border-radius 1s ease;
  }
  figure img:hover {
    transform: scale(1.05);
    border-radius: 0;
    transition: transform 1s ease,
    border-radius 1s ease;
  }
  /* Table  */
table {
  background-color: hsl(360, 0%, 30%);
  width: 80%;
  margin-bottom: 1em;
}
td {
  padding: 15px;
}
.line {
  color: #afafaf;
  border-right: 1px solid var(--line);
}

.green-border {
  border-right: 1px solid var(--punch);
}
.mobile-break {
  display: none;
}
}

/* DESKTOP SIZE  */
@media only screen and (min-width: 1024px) {
  #main-header {
    position: fixed;
    width: 25%;
    height: 100%;
  }
  
  #mobile {
    display: none;
  }
  #desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    background: transparent;
  }
  main {
    width: 70%;
    margin-left: 30%;
  }
  #avatar img {
    width: 10vw;
    /* height: 100%; */
  }

}