/* Mobile First  */

/* Color Variables  */
:root {
  --dark: #787878;
  --light: #a2a2a2;
  --bold: #ffe;
  --cap: hsl(0, 4%, 16%);
}

/* Standards  */

body {
  letter-spacing: 2px;
  line-height: 1.3em;
}
h2,
h3,
p {
  margin-bottom: 1em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  color: var(--dark);
  margin-bottom: 1em;
}
h3 {
  font-size: 1.3em;
  color: var(--dark);
}
em {
  color: var(--bold);
}
p {
  color: var(--light);
}

/* HEADER  */

#main-header {
  position: relative;
  background: var(--cap);
  padding: 4.5em 1.5em;
  height: 100%;
}

#avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.74);
  padding: 1em;
  height: 100%;
}
#avatar img {
  border-radius: 50%;
  width: 30%;
  height: 30%;
  box-shadow: 0 2px 2px 1px hsl(113, 30%, 20%);
  margin: 0 0 1em 0;
}
main {
  width: 100%;
  margin: 0;
}
/* Section Styles  */

section {
  padding: 1.5em;
  margin-bottom: 1em;
}

/* Skill List  */
#skill-tree {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
#skill-tree li {
  background: hsl(120, 100%, 45%);
  border-radius: 15px;
  padding: .4em;
}

#project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ARTICLES  */

article {
  max-width: 100%;
  margin-bottom: 1em;
}
article  img {
  max-width: 100%;
  border: 1px solid var(--dark);
  border-radius: 12px;
}

/* Clip Path Mail Icon */

#email-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
#email-icon {
  position: relative;
  background: #fff;
  width: 1.5em;
  height: 1em;
  border-radius: 15%;
}
#email-icon::before {
  content: "";
  position: absolute;
  background-color: var(--light);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(4% 4%, 96% 4%, 50% 50%);
}
#email-icon::after {
  content: " ";
  position: absolute;
  background-color: var(--dark);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: polygon(4% 8%, 50% 54%, 96% 8%, 96% 96%, 4% 96%);
  border-radius: 15%;
}

/* FOOTER  */

footer {
  background: var(--cap);
  color: #fff;
  padding: 1em;
  
}
#mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#desktop {
  display: none;
}

/* TABLET SIZE  */
@media only screen and (min-device-width: 768px) {
  #project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}

/* DESKTOP SIZE  */
@media only screen and (min-device-width: 1024px) {
  #main-header {
    position: fixed;
    width: 25%;
    height: 100%;
  }
  #mobile {
    display: none;
  }
  #desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    width: 70%;
    margin-left: 30%;
  }

}